project            = "azure-terraform"
createdby          = "elokac"
environment        = "production"
rg_name            = "azure-rg"
location           = "West Europe"
vnetcidr           = "192.168.0.0/16"
bastioncidr        = "192.168.4.224/27"
websubnetcidr      = "192.168.1.0/24"
appsubnetcidr      = "192.168.2.0/24"
dbsubnetcidr       = "192.168.3.0/24"
web_host_name      = "webserver"
web_username       = "webuser"
web_os_password    = "1234Adaobi@seedfi@"
app_username       = "appserver"
app_admin_password = "1234Adaobi@seedfi@"
sqladminuser       = "sqluser"
sqladminpw         = "1234Adaobi@seedfi@"
admin-mgt-ip       = "192.168.9.34"
